<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-between">
          <p>TOTAL EARNINGS</p>
          <p>+16.24 %</p>
        </div>
        <div class="card-text">
          <div class="main-content">$559.25K</div>
        </div>
        <div class="footer d-flex justify-content-between">
          <a href="javascript:void()">View net earnings</a>
          <p>$</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-between">
          <p>ORDERS</p>
          <p>-3.57 %</p>
        </div>
        <div class="card-text">
          <div class="main-content">36894</div>
        </div>
        <div class="footer d-flex justify-content-between">
          <a href="javascript:void()">View all orders</a>
          <p>$</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-between">
          <p>CUSTOMERS</p>
          <p>+29.08 %</p>
        </div>
        <div class="card-text">
          <div class="main-content">183.35M</div>
        </div>
        <div class="footer d-flex justify-content-between">
          <a href="javascript:void()">See details</a>
          <p>$</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex justify-content-between">
          <p>MY BALANCE</p>
          <p>+0.00 %</p>
        </div>
        <div class="card-text">
          <div class="main-content">$165.89K</div>
        </div>
        <div class="footer d-flex justify-content-between">
          <a href="javascript:void()">Withdraw money</a>
          <p>$</p>
        </div>
      </div>
    </div>
  </div>
</div>
