<div class="card rounded shadow p-3" style="border: none">
  <div class="card-header">
    <h5 class="h5 p-2">Bar Charts</h5>
  </div>
  <div class="card-content">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke"
        [colors]="chartOptions.colors"
      ></apx-chart>
    </div>
  </div>
</div>
