<div class="container-fluid mb-4">
  <h4 class="h4 mt-3">Dashboard-Chart.js</h4>
  <hr />
  <app-stats-chartjs></app-stats-chartjs>
  <div class="row mt-4">
    <div class="col-md-8">
      <app-revenue-chartjs></app-revenue-chartjs>
    </div>
    <div class="col-md-4">
      <app-gender-chartjs></app-gender-chartjs>
    </div>
    <div class="col-md-6 mt-4">
      <app-multi-column></app-multi-column>
    </div>
    <div class="col-md-6 mt-4">
      <app-area-chart></app-area-chart>
    </div>
    <div class="col-md-4 mt-4">
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-md-8 mt-4">
      <app-bar-horizontal></app-bar-horizontal>
    </div>
    <div class="col-md-6 mt-4">
      <app-bar-line-chart></app-bar-line-chart>
    </div>
    <div class="col-md-6 mt-4">
      <app-pollar-chart></app-pollar-chart>
    </div>
    <div class="col-md-4 mt-4">
      <app-radar-chart></app-radar-chart>
    </div>
    <div class="col-md-8 mt-4">
      <app-data-fetch-json></app-data-fetch-json>
    </div>
  </div>
</div>
